header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 10vw;
  margin: 0 10%;
}
/*Left side of the header*/
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 5vw;
  height: 4.5vw;
}

.logo p {
  font-size: 5vw;
}

/*Right side of the header*/
nav ul {
  margin-bottom: 2vw;
}

@media (min-width: 768px) {
  nav ul {
    margin-bottom: 0;
  }
}

nav li {
  display: inline;
  font-size: 2.5vw;
  margin: 1vw;
}
nav a {
  text-decoration: none;
  color: #7c7c7c;
  &:hover {
    color: black;
    padding-bottom: 1vw;
    border-bottom: solid #5094f2 0.5vw;
  }
}
