body {
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;

  margin: 1% 10%;
}

@media (max-width: 768px) {
  header {
    margin: 1% 2%;
    justify-content: space-evenly;
  }
}
/*Left side of the header*/
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 6vw;
  height: 6vw;
}

.logo p {
  font-size: 5vw;
  margin: 0;
}

/*Right side of the header*/
nav ul {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  nav ul {
    margin: 0;
    padding: 0;
  }
}
nav li {
  display: inline;
  font-size: 2vw;
  margin: 1vw;
}

@media (max-width: 768px) {
  nav li {
    font-size: 4vw;
  }
}
nav a {
  text-decoration: none;
  color: #7c7c7c;
  &:hover {
    color: black;
    padding-bottom: 1.2vw;
    border-bottom: solid #5094f2 0.5vw;
  }
}

/*Main Image*/
.phone-image {
  display: flex;
  justify-content: center;
}
.phone-image img {
  width: 100%;
}

/*Popular Section with Icons*/
.popular {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .popular {
    flex-direction: column;
    align-items: center;
  }
}
.popular-item {
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: center;
  margin: 3vw;
}
@media (max-width: 768px) {
  .popular-item {
    width: 75%;
  }
}

.popular-item h3 {
  color: #5094f2;
  text-align: center;
  font-size: 2vw;
  margin: 0;
}

@media (max-width: 768px) {
  .popular-item h3 {
    font-size: 5vw;
  }
}

.popular-item p {
  text-align: center;
  color: #7c7c7c;
  font-size: 1.5vw;
  margin: 5% 0;
}

@media (max-width: 768px) {
  .popular-item p {
    font-size: 3vw;
  }
}

.popular-item img {
  width: 70%;
}

/* The Shopping Cart and Bullet Text*/
.shopping-cart {
  display: flex;
  justify-content: space-around;

  border-bottom: solid #dfdfdf 0.01vw;
}

@media (max-width: 768px) {
  .shopping-cart {
    flex-direction: column;
    align-items: center;
  }
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

@media (max-width: 768px) {
  .cart {
    width: 75%;
  }
}
.cart img {
  width: 75%;
}

@media (max-width: 768px) {
  .cart img {
    width: 100%;
  }
}

.cart h2 {
  color: #7c7c7c;
  font-size: 3vw;
}

@media (max-width: 768px) {
  .cart h2 {
    font-size: 5vw;
  }
}

/*Bullet Text*/
.bullet-text {
  display: flex;
  flex-direction: column;
  color: #7c7c7c;
  margin: 5vw 0 0 0;
  width: 50%;
}

@media (max-width: 768px) {
  .bullet-text {
    width: 75%;
  }
}

.bullet-text h3 {
  font-size: 2.5vw;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .bullet-text h3 {
    font-size: 4vw;
  }
}
.bullet-text ul {
  padding-left: 0;
}

.bullet-text ul li {
  padding: 1vw 0;
  list-style: none;
  font-size: 1.5vw;
}

@media (max-width: 768px) {
  .bullet-text ul li {
    font-size: 3vw;
  }
}

/*Footer*/
footer p {
  text-align: center;
  color: #7c7c7c;
  font-size: 1.3vw;
  padding: 1vw;
}

@media (max-width: 768px) {
  footer p {
    font-size: 3vw;
  }
}
